<div>
  <div>
    <form class="example-form" role="form" novalidate [formGroup]="formGroup" (ngSubmit)="save(formGroup.value, formGroup.valid)">

      <div class="modal-header">
        <h2 class="title-page">Forget Password ?</h2>
        <a href="javascript:void(0);" (click)="onClose()" class="mr-320">
          <i class="material-icons">clear</i>
        </a>
      </div>
      <div class="col-sm-12 res-block">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="modal-footer">
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <button type="button" mat-raised-button color="secondary" data-dismiss="modal" (click)="onClose()">Cancel</button>
      </div>

    </form>
  </div>
</div>
