<div mat-dialog-content>
<h4>{{data.label}}</h4>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onDeleteButton()" cdkFocusInitial>Ok</button>
</div>
