table {
    width: 100%;
     font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}