table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

// td,
// th {
//     width: 18% !important;
// }
.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}
.table-custm
{
    margin-top: 20px;
    font: bold;
}
.btn-cust
{
    color:#3f51b5;
    font:bold;
}
.half_frame
{
    width: 47%;
    margin-right: 15px;
}

.one_third_frame{
    width: 31%;
    margin-right: 15px;
}

.mt-20{
    margin-top: 60px;
}

.search-button{
    margin-left: 43%;
    margin-right: 28px;
}
.wrapper{
    height: 600px !important;
}

.times-font{
    font-family: 'Times New Roman', Times, serif !important;
}

.present-color{
    color : green;
}

.absent-color{
    color: red; 
}
