<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <div>
        <app-stat [bgClass]="'info'" [icon]="'dashboard'" [count]="totalTechRegFaculty" [label]="'Total Technical Faculty Members'"></app-stat>
    </div>
    <div>
        <app-stat [bgClass]="'success'" [icon]="'assignment_ind'" [count]="presentTechFaculty" [label]="'Technical Faculty Members Present'"></app-stat>
    </div>
    <div>
        <app-stat [bgClass]="'danger'" [icon]="'assignment_late'" [count]="absentTechFaculty" [label]="'Technical Faculty Members Absent'"></app-stat>
    </div>
     <!--<div>-->
        <!--<app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="0" [label]="'Avg Student Present'"></app-stat>-->
    <!--</div>-->
</div>
<br/>
<div class="mb-10" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'dashboard'" [count]="totalHigherRegFaculty" [label]="'Total Higher Education Faculty Members'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'assignment_ind'" [count]="presentHigherFaculty" [label]="'Higher Education Faculty Members Present'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'assignment_late'" [count]="absentHigherFaculty" [label]="'Higher Education Faculty Members Absent'"></app-stat>
    </div>
    <!-- <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="0" [label]="'Avg Student Present'"></app-stat>
    </div> -->
</div>

<div class="mt-20" *ngIf="isPrincipalChartReady">
    <div>
        <mat-card>
            <div class="times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
                <mat-card-header>
                    <mat-card-title>Dashboard</mat-card-title>
                </mat-card-header>
            </div>
            <mat-card-content>
                <div class="wrapper">
                    <canvas width="5" height="2.5" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend" [colors]="barchartColor" [chartType]="barChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
