table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.table-custm
{
    margin-top: 20px;
    font: bold;
}
.btn-cust
{
    color:#3f51b5;
    font:bold;
}
.half_frame
{
    width: 47%;
    margin-right: 15px;
}
.times-font{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 24px !important;
    align-content: center;
    margin-top:5px;
    .mat-card-header{
        .mat-card-title{
        font-size: 20px;
        }
    }
}

.present-color{
    color : green;
}

.absent-color{
    color: red; 
}
.late-color{
    color: orange;
}
.search-button{
    margin-left: 43%;
    margin-right: 28px;
}
.wrapper{
    height: 600px !important;
}
