@import '~@angular/material/theming';

:host /deep/ .mat-card-header-text {
    width: 100%;
    text-align: left;
    margin-top:15px;
}

.icon-lg {
    font-size: 25px;
}

.mat-card {
    color: #fff;
    padding: 10px;
    .mat-card-header {
        width: 100%;
        // text-align: left !important;
        align-content: center;
    }
    .count {
        font-size: 25px;
        align-content: center;
    }
    .mat-card-title {
        font-size: 15px !important;
        // text-align: left !important;
    }
}

.mat-card.danger {
    background: linear-gradient(60deg, #ec407a, #d81b60);
}

.mat-card.warn {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.mat-card.success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.mat-card.info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
