<mat-card [ngClass]="bgsmClass">
    <mat-card-header>
        <div class="count">
            {{count}}
        </div>
        <mat-card-title>{{label}}</mat-card-title>
        <!-- <mat-card-subtitle>{{label}}</mat-card-subtitle> -->
    </mat-card-header>
</mat-card>