<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <mat-card>
            <form class="login-form" role="form" novalidate  [formGroup]="formGroup" (ngSubmit)="onLogin(formGroup.value)">
                <div class="text-center">
                    <h2 class="app-name">Faculty Attendance</h2>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <!--<mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email" required>
                        </mat-form-field>-->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <!--<mat-form-field class="w-100">
                            <input matInput type="password" placeholder="Password" formControlName="password" required>
                        </mat-form-field>-->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                    <div fxFlex>
                        <mat-checkbox color="primary">Remember Me</mat-checkbox>
                    </div>
                    <div fxFlex fxLayoutAlign="end">
                        <a href="javascript:void(0)"  (click)="forgetPassword()" >Forget Password</a>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <button mat-raised-button color="primary" class="w-100">Login</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
