.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
            position: relative;
            @media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait){
                font-size: 20px;
            }
            &:after{
                content: "";
                display: block;
                border: 0.5px solid #c1c1c1;
                position: absolute;
                right: 0;
                left: 0;
                top: 100%;
            }
        }
        .login-form {
            /*padding: 40px;*/
            background: #fff;
            width:500px;
            /*box-shadow: 0 0 10px #ddd;*/
            @media only screen and (min-width: 320px) and (max-width: 480px){
                width: 100%;
                padding:15px;
            }
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    &:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #3f51b5;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
