<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column" *ngIf="isPrincipalChartReady">
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Principal Bar Chart</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas width="15" height="10" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>
