table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}
.table-custm
{
    margin-top: 10px;
    font: bold;
}
.btn-cust
{
    color:#3f51b5;
    font:bold;
}

.date_cust
{
    width: 100%;
    margin-right: 15px;
}



// .mat-card {
//     text-align: left;
//     img {
//         border-radius: 5px;
//         margin-top: -25px;
//     }
// }

.test{
    width :100%;
}
.m-width-20{
    width :20% !important;
}
.present-color{
    color : green;
}
.half_frame
{
    width: 31%;
    margin-right: 15px;
}

.search-button{
    margin-left: 43%;
    margin-right: 28px;
}

.times-font{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 24px !important;
    align-content: center;
    margin-top:5px;
    .mat-card-header{
        .mat-card-title{
        font-size: 20px;
        }
    }
}

.small-font{
    font-size: 16px !important;
}
.mt-20{
    margin-top: 60px;
}
.text-center{
    align-content: center;
}

.display-static{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 15px;
    color: #3f51b5;
    font-family: 'Times New Roman', Times, serif !important;
    
}