<div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <mat-card style="width:100%;">
        <mat-card-content>
            <form style="width:100%;" role="form" novalidate [formGroup]="formGroup"
                (ngSubmit)="search(formGroup.value, formGroup.valid)">
                <div>
                    <mat-form-field class="date_cust">
                        <mat-select placeholder="Select Day" formControlName="dayId" [(ngModel)]="searchObj.dayId">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let day of dayList" [value]="day.id">
                                {{day.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <button class="search-button" mat-raised-button color="primary" type="submit">Search</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!--  completed    -->

<div class="row mt-20">

    <div class="table-custm">
        <mat-card>
            <div>
                <mat-card-header>
                    <mat-card-title> Time Table ( {{daySelected}} )</mat-card-title>
                </mat-card-header>
            </div>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" matSort>
                    -
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                        <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="slotStart">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot Start </th>
                        <td mat-cell *matCellDef="let row"> {{row.slotStartTime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="endSlot">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot End </th>
                        <td mat-cell *matCellDef="let row"> {{row.slotEndTime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="sem">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
                        <td mat-cell *matCellDef="let row"> {{row.semId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="labType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.loadType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subjectCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Code </th>
                        <td mat-cell *matCellDef="let row"> {{row.subjectCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subjectName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.subjectName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>