<div class="mt-20 times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
    <mat-card-header>
        <mat-card-title>Attendance List</mat-card-title>
    </mat-card-header>
</div>
<div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <mat-card style="width:100%;">
        <mat-card-content>
            <form style="width:100%;" role="form" novalidate [formGroup]="formGroup"
                (ngSubmit)="search(formGroup.value, formGroup.valid)">
                <div>
                    <mat-form-field class="half_frame">
                        <input matInput [matDatepicker]="picker" formControlName="startDate"
                            placeholder="Choose a Start date" [(ngModel)]="searchObj.startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="half_frame">
                        <input matInput [matDatepicker]="picker2" formControlName="endDate"
                            placeholder="Choose a End date" [(ngModel)]="searchObj.endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="one_third_frame">
                        <mat-select placeholder="Institute" formControlName="instituteId"
                            (selectionChange)="onInstituteChange()" [(ngModel)]="searchObj.instituteId">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let institute of instituteList" [value]="institute.id">
                                {{institute.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="one_third_frame">
                        <mat-select placeholder="Department" formControlName="departmentId"
                            (selectionChange)="onDeartmentChange()" [(ngModel)]="searchObj.departmentId">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let department of departmentList" [value]="department.id">
                                {{department.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="one_third_frame">
                        <mat-select placeholder="Faculty" formControlName="facultyId" [(ngModel)]="searchObj.facultyId">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">{{faculty.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="search-button" mat-raised-button color="primary" type="submit">Search</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!--  completed    -->

<div class="table-custm">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                    <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
                </ng-container>

                <!-- Faculty Name Column -->
                <ng-container matColumnDef="facultyId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.facultyName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="attendanceDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.attendanceDate | date: 'dd-MM-yyyy'}} </td>
                </ng-container>

                <!-- Institute Name Column -->
                <ng-container matColumnDef="instituteName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Institute Name </th>
                    <td mat-cell *matCellDef="let row">
                        {{row.instituteName}}
                    </td>
                </ng-container>

                <!-- Department name Column -->
                <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
                    <td mat-cell *matCellDef="let row">
                        {{row.departmentName}}
                    </td>
                </ng-container>

                <!-- in time Column -->
                <ng-container matColumnDef="inTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> In Time </th>
                    <td mat-cell *matCellDef="let row"> {{row.inTime}} </td>
                </ng-container>

                <!-- out time Column -->
                <ng-container matColumnDef="outTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Out Time </th>
                    <td mat-cell *matCellDef="let row"> {{row.outTime}} </td>
                </ng-container>

                <!-- attendance Column -->
                <ng-container matColumnDef="attendance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance </th>
                    <td mat-cell *matCellDef="let row">
                        <!-- <span *ngIf="row.status" class="present-color"> Present </span> -->
                        <span *ngIf="row.status">
                            <span *ngIf="row.lateComingReason" class="late-color"
                                matTooltip="{{row.lateComingReason}}">Late</span>
                            <span *ngIf="!row.lateComingReason" class="present-color">Present</span>
                        </span>
                        <span *ngIf="!row.status" class="absent-color"> Absent</span>
                    </td>

                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="pagination.total == 0" class="text-center">No record found</div>
            <mat-paginator *ngIf="pagination.total > 0" #paginator [length]="pagination.total"
                [pageIndex]="pagination.currentPage - 1" [pageSize]="pagination.size" [showFirstLastButtons]="true"
                (page)="pageChanged($event.pageIndex)">
            </mat-paginator>
        </mat-card-content>
    </mat-card>

</div>
<ngx-loading [show]="loading"></ngx-loading>