<div class="mt-20 times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
    <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
</div>
<div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
    <mat-card style="width:100%;">
        <mat-card-content>
            <form style="width:100%;" role="form" novalidate [formGroup]="formGroup"
                (ngSubmit)="search(formGroup.value, formGroup.valid)">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="searchObj.email"
                            required>
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Old Password" formControlName="oldPassword" [(ngModel)]="searchObj.oldPassword"
                            required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput placeholder="New Password" formControlName="newPassword" [(ngModel)]="searchObj.newPassword"
                            required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" [(ngModel)]="searchObj.confirmPassword"
                            required>
                    </mat-form-field>
                </div>

                <button class="search-button" mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>