.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn-cust
{
    color:#3f51b5;
    font:bold;
}

.search-button{
    margin-left: 43%;
    margin-right: 28px;
}
.wrapper{
    height: 600px !important;
}

.times-font{
    font-family: 'Times New Roman', Times, serif !important;
}

// #sidebar {
//     width: 250px;
//     position: fixed;
//     top: 56px;
//     bottom: 0;
//     background: #fff;
//     box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
//     z-index: 999;
//     -ms-overflow-y: auto;
//     overflow-y: auto;
//     .mat-nav-list {
//         width: 100%;
//         a {
//             .mat-icon {
//                 margin-right: 15px;
//             }
//             display: block;
//         }
//     }
// }
// .nested-menu {
//     .nested {
//         list-style-type: none;
//     }
//     .submenu {
//         display: none;
//         height: 40px;
//     }
//     & .expand {
//         &.submenu {
//             display: block;
//             list-style-type: none;
//             height: auto;
//             margin: 0;
//             li {
//                 a {
//                     padding: 10px;
//                     display: block;
//                 }
//             }
//         }
//     }
// }
// .sub-menu-height{
//     height: 25px !important;
// }
// @media screen and (max-width: 992px) {
//     #sidebar {
//         left: -250px;
//     }
// }
