<div>
  <div>
    <!-- <form class="form-horizontal" id="add-form" [formGroup]="addNewPostForm" (ngSubmit)="onPostFormSubmit()"> -->
    <form class="example-form" role="form" novalidate [formGroup]="formGroup" (ngSubmit)="save(formGroup.value, formGroup.valid)">

      <div class="modal-header">
        <!-- <h4 class="modal-title" id="add-modal-label">Edit University</h4> -->
        <h2 fxFlex class="h1 m-0 mb-16 title-page">{{this.isEdit ? "Edit" : "Create"}} Department</h2>
        <a href="javascript:void(0);" fxFlex="0 1 auto" (click)="onClose()">
          <i class="material-icons">clear</i>
        </a>
      </div>
      <div class="col-sm-12 res-block">
        <mat-form-field fxFlex>
          <input matInput placeholder="Code" formControlName="code" [(ngModel)]="department.code" required>
        </mat-form-field>
      </div>
      <div class="col-sm-12 res-block">
        <mat-form-field fxFlex>
          <input matInput placeholder="Name" formControlName="name" [(ngModel)]="department.name" required>
          <mat-error *ngIf="formGroup.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 res-block" fxLayout="row">
        <mat-form-field fxFlex>
          <textarea matInput placeholder="Description" formControlName="description" [(ngModel)]="department.description"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-12 res-block">
        <mat-form-field fxFlex>
          <input matInput placeholder="Department Link" formControlName="link" [(ngModel)]="department.link" required>
        </mat-form-field>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancel</button>
      </div>

    </form>
  </div>
</div>