<h1 mat-dialog-title>{{popupName}} Faculty Information</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text" name="name" [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="popupName==='Add'">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field *ngIf="popupName==='Edit'">
        <input matInput type="text" style="color: black" disabled="true" [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" type="number" name="phone" [(ngModel)]="data.phone">
    </mat-form-field>
    <mat-form-field *ngIf="selected">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
            <mat-option *ngFor="let r of role" [value]="r.value">
                {{r.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <input type="text" placeholder="Select Department" aria-label="Number" matInput  [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial (click)="editData(popupName)">Save</button>
</div>
