<div class="table-custm">
    <div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <mat-card style="width:100%;">
            <mat-card-content>
                <form style="width:100%;" role="form" novalidate [formGroup]="formGroup"
                    (ngSubmit)="search(formGroup.value, formGroup.valid)">
                    <div>
                        <mat-form-field class="date_cust">
                            <input matInput [matDatepicker]="picker" formControlName="startDate"
                                placeholder="Choose a Start date" [(ngModel)]="searchObj.startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="date_cust">
                            <input matInput [matDatepicker]="picker2" formControlName="endDate"
                                placeholder="Choose a End date" [(ngModel)]="searchObj.endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row">
                        <mat-form-field>
                            <mat-select placeholder="Select Faculty" formControlName="facultyId"
                                [(ngModel)]="searchObj.facultyId">
                                <mat-option value="">All</mat-option>
                                <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">{{faculty.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <button class="search-button" mat-raised-button color="primary" type="submit">Search</button> -->
                    </div>
                    <button class="search-button" mat-raised-button color="primary" type="submit">Search</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
            <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
        </ng-container>

        <!-- Student Name Column -->
        <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </th>
            <td mat-cell *matCellDef="let row"> {{row.studentName}} </td>
        </ng-container>

        <!-- isLectureAttend Column -->
        <ng-container matColumnDef="isLectureAttend">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Lecture Attend </th>
            <td mat-cell *matCellDef="let row"> <span *ngIf="row.isLectureAttend">
                    Yes </span>
                <span *ngIf="!row.isLectureAttend"> No</span> </td>
        </ng-container>

        <!-- isLectureConducted Column -->
        <ng-container matColumnDef="isLectureConducted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Conducted </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.isLectureConducted">
                    Yes </span>
                <span *ngIf="!row.isLectureConducted"> No</span>
            </td>
        </ng-container>

        <!-- comment Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.feedbackDate | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- rate Column -->
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
            <td mat-cell *matCellDef="let row"><span>
                    <i class="material-icons">star</i>
                </span> {{row.rate}} </td>
        </ng-container>

        <!-- subject Column -->
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
            <td mat-cell *matCellDef="let row"><span>
                    <!-- <i class="material-icons">star</i> -->
                </span> {{row.subjectName}} </td>
        </ng-container>

        <!-- facultyName Column -->
        <ng-container matColumnDef="facultyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty Name </th>
            <td mat-cell *matCellDef="let row"> {{row.facultyName}} </td>
        </ng-container>

        <!-- facultyName Column -->
        <ng-container matColumnDef="sem">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
            <td mat-cell *matCellDef="let row"> {{row.semesterName}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="pagination.total == 0" class="text-center">No record found</div>
    <mat-paginator *ngIf="pagination.total > 0" #paginator [length]="pagination.total"
        [pageIndex]="pagination.currentPage - 1" [pageSize]="pagination.size" [showFirstLastButtons]="true"
        (page)="pageChanged($event.pageIndex)">
    </mat-paginator>
    <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
