<div style="text-align: center">
    <i class="material-icons">
        account_circle
    </i>
</div>
<div mat-dialog-content>
    <h4>{{data.label}}</h4>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selection">
            <mat-radio-button *ngFor="let shift of shiftList;let i = index;" value="{{shift.id}}">{{shift.inTime}} to {{shift.outTime}}</mat-radio-button>
        </mat-radio-group>
</div>
<div mat-dialog-actions>
    <button class="btn btn-success" (click)="onSubmitShift()">Submit</button>
</div>
