<div id="sidebar">
    <mat-nav-list>
        <!-- <a mat-list-item>
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a> -->

        <div *ngIf="isPS">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['director-attendance']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['director-attendance/director-attendance-view']">
                <mat-icon class="sidenav-icon">list_alt</mat-icon> {{ 'Tabular Data' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['director-attendance/director-technical-graph']">
                <mat-icon class="sidenav-icon">assessment</mat-icon> {{ 'Technical Edu Graph' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['director-attendance/director-higher-graph']">
                <mat-icon class="sidenav-icon">assessment</mat-icon> {{ 'Higher Edu Graph' | translate }}
            </a>
        </div>

        <div *ngIf="isDirectorTechnical || isDirectorHigher">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['cm-attendance']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['cm-attendance/cm-attendance-view']">
                <mat-icon class="sidenav-icon">list_alt</mat-icon> {{ 'Tabular Data' | translate }}
            </a>
            <a  *ngIf="isDirectorTechnical" mat-list-item [routerLinkActive]="'active'" [routerLink]="['cm-attendance/cm-technical-graph']">
                <mat-icon class="sidenav-icon">assessment</mat-icon> {{ 'Technical Edu Graph' | translate }}
            </a>
            <a *ngIf="isDirectorHigher" mat-list-item [routerLinkActive]="'active'" [routerLink]="['cm-attendance/cm-higher-graph']">
                <mat-icon class="sidenav-icon">assessment</mat-icon> {{ 'Higher Edu Graph' | translate }}
            </a>
        </div>

        <div *ngIf="isPrincipal">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['principal-attendance']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['student-feedback']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Student FeedBack' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['faculty-activity']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Faculty Activity' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['staff-list']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Staff List' | translate }}
            </a>
        </div>

        <div *ngIf="isHod">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['hod-attendance']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['student-feedback']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Student FeedBack' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['faculty-activity']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Faculty Activity' | translate }}
            </a>
            <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tables']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Tables' | translate }}
            </a>  -->
        </div>

        <div *ngIf="isFaculty">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['faculty-attendance']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['faculty-activity']">
                <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Faculty Activity' | translate }}
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['time-table']">
                <mat-icon class="sidenav-icon">calendar_view_day</mat-icon> {{ 'Time Table' | translate }}
            </a>
        </div>
    </mat-nav-list>
</div>
