.times-font{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 24px !important;
    align-content: center;
    margin-top:5px;
    .mat-card-header{
        .mat-card-title{
        font-size: 20px;
        }
    }
}