table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}
.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}