<mat-form-field>
    <input matInput placeholder="Filter">
</mat-form-field>

<a routerLink="add" routerLinkActive="active">
    <button mat-raised-button color="primary">
        <mat-icon class="edit-table-icon" matTooltip="Add University">add</mat-icon>
        Add New
    </button>
</a>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Link </th>
            <td mat-cell *matCellDef="let row"> {{row.link}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
                <!-- <a href="#" (click)="onEdit(row.id)">
                    <mat-icon class="edit-table-icon" matTooltip="Edit">edit</mat-icon>
                </a> -->
                <a href="javascript:void(0);" class="edit-table-icon" matTooltip="Edit" (click)="openDialog(row)">
                  <i class="material-icons">create</i>
                </a>
                <a href="javascript:void(0);" (click)="onDelete(row.id)">
                    <mat-icon class="delete-table-icon" matTooltip="Delete">delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
