table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-card {
    text-align: left;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}

.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}
.table-custm
{
    margin-top: 10px;
    font: bold;
}
.btn-cust
{
    color:#3f51b5;
    font:bold;
}
.search-button{
    margin-left: 43%;
    margin-right: 28px;
}

.one_third_frame{
    width: 92%;
    margin-right: 28 px;
}
.date_cust
{
    width: 47%;
    margin-right: 15px;
}

.ml-20{
    margin-left :39%;
    margin-bottom: 20px;
}
.mt-20{
    margin-top :60px;
}

.times-font{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 24px !important;
    align-content: center;
    margin-top:5px;
    .mat-card-header{
        .mat-card-title{
        font-size: 20px;
        }
    }
}
.present-color{
    color : green;
}

.absent-color{
    color: red; 
}

.late-color{
    color: orange;
}
.text-center{
    align-content: center  !important;
    text-align: center;
    font-family: 'Times New Roman', Times, serif !important;
    font-size :20px;
}
.display-static{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 15px;
    color: #3f51b5;
    font-family: 'Times New Roman', Times, serif !important;
    
}