<div class="mb-20" fxFlex display:inline-flex *ngIf="isPrincipalChartReady">
    <div>
        <mat-card>
            <!-- <div class="times-font" flFlex fxLayout="row" fxLayoutAlign="center end"> -->
            <mat-card-header>
                <mat-card-title>Head of Department Dashboard</mat-card-title>
            </mat-card-header>
            <!-- </div> -->
            <!-- <mat-radio-group [formGroup]="chartForm">
                <mat-radio-button class="example-margin" value="isMonthly" [(ngModel)]="chartForm.isMonthly" [checked]="chartForm.isMonthly"
                    (change)="ismonthly($event)">Monthly
                    data</mat-radio-button>
                &nbsp; <mat-radio-button class="example-margin" value="isWeekly" [(ngModel)]="chartForm.isWeekly"
                    [checked]="chartForm.isWeekly" (change)="isWeekly($event)">Current Week data</mat-radio-button>
            </mat-radio-group> -->
            <mat-card-content>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [colors]="barchartColor" [legend]="barChartLegend" [chartType]="barChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
    <mat-card-header>
        <mat-card-title>Department Attendance List</mat-card-title>
    </mat-card-header>
</div>
<div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <mat-card style="width:100%;">
        <mat-card-content>
            <form role="form" novalidate [formGroup]="formGroup" (ngSubmit)="search(formGroup.value, formGroup.valid)">
                <!-- <mat-form-field fxFlex="40">
            <input matInput placeholder="Search" formControlName="searchText" [(ngModel)]="searchObj.searchText">
        </mat-form-field> -->
                <div>
                    <mat-form-field class="date_cust">
                        <input matInput [matDatepicker]="picker" formControlName="startDate"
                            placeholder="Choose a Start date" [(ngModel)]="searchObj.startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="date_cust">
                        <input matInput [matDatepicker]="picker2" formControlName="endDate"
                            placeholder="Choose a End date" [(ngModel)]="searchObj.endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <mat-form-field class="one_third_frame">
                    <mat-select placeholder="Faculty" formControlName="facultyId" [(ngModel)]="searchObj.facultyId">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">{{faculty.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button fxFlex="20" mat-raised-button color="primary" class="search-button"
                    type="submit">Search</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<!--  completed    -->


<div class="table-custm">
    <div class="display-static">Institute Name :- {{displayInstituteName}} &nbsp; &nbsp; &nbsp;
        Department Name :- {{displayDepartmentName}} </div>
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No </th>
            <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
        </ng-container>
        <!-- Faculty Name Column -->
        <ng-container matColumnDef="facultyId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty Name </th>
            <td mat-cell *matCellDef="let row"> {{row.facultyName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="attendanceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance Date </th>
            <td mat-cell *matCellDef="let row"> {{row.attendanceDate | date: 'dd-MM-yyyy'}}</td>
        </ng-container>

        <!-- Institute Name Column -->
        <!-- <ng-container matColumnDef="instituteName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Institute Name </th>
            <td mat-cell *matCellDef="let row">
                {{row.instituteName}}
            </td>
        </ng-container> -->

        <!-- Department name Column -->
        <!-- <ng-container matColumnDef="departmentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
            <td mat-cell *matCellDef="let row">
                {{row.departmentName}}
            </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
                {{row.status}}
            </td>
        </ng-container> -->

        <!-- Code Column -->
        <ng-container matColumnDef="inTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> In Time </th>
            <td mat-cell *matCellDef="let row"> {{row.inTime}} </td>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="outTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Out Time </th>
            <td mat-cell *matCellDef="let row"> {{row.outTime}} </td>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="attendance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> attendance </th>
            <td mat-cell *matCellDef="let row">
                <!-- <span *ngIf="row.status" class="present-color"> Present </span> -->
                <span *ngIf="row.status">
                    <span *ngIf="row.lateComingReason" class="late-color"
                        matTooltip="{{row.lateComingReason}}">Late</span>
                    <span *ngIf="!row.lateComingReason" class="present-color">Present</span>
                </span>
                <span *ngIf="!row.status" class="absent-color"> Absent</span>
            </td>

        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
        <!-- <div *ngIf="pagination.total == 0" class="text-center"><span>No record found</span></div> -->
        <!-- <mat-paginator *ngIf="pagination.total > 0" #paginator [length]="pagination.total" [pageIndex]="pagination.currentPage - 1"
        [pageSize]="pagination.size" [showFirstLastButtons]="true" (page)="pageChanged($event.pageIndex)">
    </mat-paginator> -->

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <br />
    <div class="table-custm">
        <div class="times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
            <mat-card-header>
                <mat-card-title> Student Attendance Count</mat-card-title>
            </mat-card-header>
        </div>
        <mat-card>
            <mat-card-content>
                <table mat-table #table1 [dataSource]="totalStudentAttendanceList" matSort>

                    <!-- Faculty Name Column -->
                    <ng-container matColumnDef="facultyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Faculty Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.facultyName}} </td>
                    </ng-container>

                    <!-- Faculty Name Column -->
                    <ng-container matColumnDef="slot">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot</th>
                        <td mat-cell *matCellDef="let row"> {{row.slotName}} </td>
                    </ng-container>

                    <!-- sem Column -->
                    <ng-container matColumnDef="sem">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
                        <td mat-cell *matCellDef="let row"> {{row.semId}} </td>
                    </ng-container>

                    <!-- Link Column -->
                    <ng-container matColumnDef="totalCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Present </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.totPresent}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Student </th>
                        <td mat-cell *matCellDef="let row">
                            60
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAttend"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAttend;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
    <br />
    <div class="mt-20 times-font" align="center">
        <!--<form role="form" novalidate [formGroup]="formToggleGroup">-->
            <!--<span>Endrosment Status : </span>&nbsp;-->
            <!--<mat-slide-toggle id="endros" formControlName="endros" [(ngModel)]="formToggleGroup.endros"-->
                <!--(change)="onChange($event)">-->
            <!--</mat-slide-toggle>-->
        <!--</form>-->
    </div>
