<div class="col-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter By Name">
        </mat-form-field>
        <button class="btn btn-primary btn-md" style="margin-left: 10px;" (click)="AddEditDialog();">Add New Faculty</button>
    <mat-form-field style="margin-left: 10px;">
        <mat-label>Select Department</mat-label>
        <mat-select [(value)]="selectDepartment" (selectionChange)="onDeartmentChange()">
            <mat-option *ngFor="let d of department" [value]="d.id">
                {{d.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <ngx-datatable [rows]="rows"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="50">
        <ngx-datatable-column name="ID">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.id}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Phone">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phone}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Role">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.role}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="DepartmentId">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.departmentId}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
                <p style="margin-top: 5px;">EDIT</p>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary btn-xs" (click)="AddEditDialog(row);"><i
                    class="material-icons">edit</i></button>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
                <p style="margin-top: 5px;">Delete</p>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary btn-xs" (click)="deleteDialog(row);"><i
                    class="material-icons">delete</i></button>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
                <p style="margin-top: 5px;">Check Shift</p>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary btn-xs" (click)="shiftDialog(row);"><i
                    class="material-icons">work</i></button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<ngx-loading [show]="loading"></ngx-loading>
