<div class="pl-16 pr-16 pt-16" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" *ngIf="!isFaculty">
    <mat-card style="width:100%;">
        <mat-card-content>
            <form style="width:100%;" role="form" novalidate [formGroup]="formGroup"
                (ngSubmit)="search(formGroup.value, formGroup.valid)">
                <div fxLayout="row">
                    <mat-form-field>
                        <mat-select placeholder="Select Faculty" formControlName="facultyId"
                            [(ngModel)]="searchObj.facultyId">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let faculty of facultyList" [value]="faculty.id">{{faculty.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button class="search-button" mat-raised-button color="primary" type="submit">Search</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="row mt-20" *ngIf="isPrincipalChartReady">
    <div fxLayout="row">
        <mat-card-header fxFlex>
            <mat-card-title>Monthly Activity Hours (Out of 140 approx working hours)</mat-card-title>
        </mat-card-header>
    </div>
    <div fxLayout="row">

        <div fxLayout="columns" fxLayoutGap="12px">
            <mat-card>
                <mat-card-content>
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                            <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
                        </ng-container>

                        <!-- Student Name Column -->
                        <ng-container matColumnDef="activity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
                            <td mat-cell *matCellDef="let row"> {{row.message}} </td>
                        </ng-container>

                        <!-- isLectureAttend Column -->
                        <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours </th>
                            <td mat-cell *matCellDef="let row"> {{row.count}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- <div *ngIf="pagination.total == 0" class="text-center">No record found</div>
    <mat-paginator *ngIf="pagination.total > 0" #paginator [length]="pagination.total" [pageIndex]="pagination.currentPage - 1"
        [pageSize]="pagination.size" [showFirstLastButtons]="true" (page)="pageChanged($event.pageIndex)">
    </mat-paginator> -->
        <div>
            <span class="totalHoursFont">Total Hours : <span class="ml-20">{{totalHours}}</span></span>
            </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="columns" fxLayoutGap="12px" *ngIf="isPrincipalChartReady">
            <mat-card fxFlex>
                <mat-card-content>
                        <canvas baseChart width="500" height="250" [data]="pieChartData" [labels]="pieChartLabels"
                            [options]="pieChartOptions" [legend]="pieChartLegend"
                            [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>