table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif !important;
    .mat-header-cell{
        font-size: 14px !important;
    }
    
    tr.mat-footer-row, tr.mat-row {
            height: 40px;
    }
    tr.mat-header-row {
        height: 47px;
    }
    td{
        width : 150px; 
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mt-20{
    margin-top: 20px !important;
}

.search-button{
    margin-left: 10%;
    margin-right: 30px;
    min-width: 100px;
    max-height: 40px;
}

.edit-table-icon{
    display: inline;
    font-size: medium;
    color: #3f51b5;
    margin-right: 8px !important;
}

.delete-table-icon{
    display: inline;
    font-size: medium;
    color: red;
}

.table-custm
{
    margin-top: 10px;
    font: bold;
}
.material-icons{
    font-size: 13px;
    color: green;
} 
.totalHoursFont{
    margin-left: 35% !important;
    margin-top : 15px !important;
    font-weight: bold ;
    font-family: 'Times New Roman', Times, serif !important;
}
.ml-20{
    margin-left: 50px !important;
}