<div class="mt-20" *ngIf="isPrincipalChartReady">
    <div>
        <mat-card>
            <div class="times-font" flFlex fxLayout="row" fxLayoutAlign="center end">
                <mat-card-header>
                    <mat-card-title>Technical Education Attendance Details</mat-card-title>
                </mat-card-header>
            </div>
            <mat-card-content>
                <div class="wrapper">
                    <canvas width="5" height="2.5" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend" [colors]="barchartColor" [chartType]="barChartType"
                        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>